.bUIButton
{font: 700 20px/60px 'PT Sans','Trebuchet MS',Arial,sans-serif;

    display: inline-block;width: 300px;text-align: center;text-decoration: none;color: #000;border-radius: 5px;background-image: -webkit-linear-gradient(top, #ffeb6a 0, #f4af00 60%, #e68700 100%);background-image: linear-gradient(top, #ffeb6a 0, #f4af00 60%, #e68700 100%);box-shadow: 0 3px 5px #984b15,inset 0 1px 2px rgba(255,255,255,.21);
}html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{font-family: inherit;font-size: 100%;font-weight: inherit;font-style: inherit;

    margin: 0;padding: 0;vertical-align: baseline;border: 0;outline: 0;
}:focus
{
    outline: 0;
}body
{
    line-height: 1;margin: 0;padding: 0;color: #000;background: #fff;
}ol,
ul
{
    list-style: none;
}table
{table-layout: fixed;border-spacing: 0;
    border-collapse: separate;
}caption,
th,
td
{font-weight: normal;

    text-align: left;
}blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}blockquote,
q
{
    quotes: '' '';
}i
{
    font-style: normal;
}.pAtlTour_bHiddenInfo
{
    margin: 0 0 55px;
}.pAtlTour_bHiddenInfo__eLinkContainer
{margin: 0 0 30px;

    text-align: center;
}.pAtlTour_bHiddenInfo__eLinkCloseContainer
{padding: 0 0 40px;

    text-align: center;
}.pAtlTour_bHiddenInfo__eLink
{
    margin: 0 20px;
}.pAtlTour_bHiddenInfo__eContainer
{overflow: hidden;max-height: 0;-webkit-transition: max-height 600ms linear,overflow 0ms linear 600ms;transition: max-height 600ms linear,overflow 0ms linear 600ms;

    background: url('../img/hiddenInfoPattern.png');
}.pAtlTour_bHiddenInfo__eContainer__mType_opened
{overflow: visible;

    max-height: 2000px;
}.pAtlTour_bHiddenInfo__eTitle
{font: 700 25px/30px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 0 19px;padding: 32px 0 0;text-align: center;

    color: #464646;
}.pAtlTour_bHiddenInfo__eColumnContainer
{width: 780px;margin: 0 auto 7px;
    padding: 0 0 0 30px;
}.pAtlTour_bHiddenInfo__eColumnContainer:after
{display: table;clear: both;

    content: ' ';
}.pAtlTour_bHiddenInfo__eColumn
{
    float: left;width: 50%;
}.pAtlTour_bHiddenInfo__eSection
{font-size: 13px;line-height: 18px;margin: 0 0 35px;padding: 0 45px 0 7px;

    color: #636363;
}.pAtlTour_bHiddenInfo__eSectionContent
{
    margin: 0 0 5px;
}.pAtlTour_bHiddenInfo__eSectionTitle
{
    font: 700 15px/20px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 0 6px;color: #000;
}.pAtlTour_bHiddenInfo__eSectionSubTitle
{
    font-weight: 700;margin: 0 0 5px;color: #363636;
}.pAtlTour_bHiddenInfo__eUList
{
    margin: 0 0 17px;
}.pAtlTour_bHiddenInfo__eUListItem
{
    margin: 0 0 5px;
}.pAtlTour_bHiddenInfo__eUListItem:before
{
    content: '— ';
}.pAtlTour_bHiddenInfo__eOList
{
    margin: 0 0 17px;
}.pAtlTour_bHiddenInfo__eOListItem
{margin: 0 0 5px;

    list-style: decimal outside;
}.pAtlTour_bHint
{
    font: 13px/18px Arial,sans-serif;position: absolute;z-index: 10;left: 50%;visibility: hidden;width: 500px;margin: 0 0 0 -250px;-webkit-transition: opacity 600ms ease-in-out 0ms,visibility 0ms linear 600ms;transition: opacity 600ms ease-in-out 0ms,visibility 0ms linear 600ms;text-align: left;opacity: 0;color: #555;
}.pAtlTour_bHint:before
{position: absolute;bottom: 100%;left: 50%;width: 11px;height: 5px;margin: 0 0 0 -5px;

    content: ' ';background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFCAYAAACTphZWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTI4NkExQTIxNjk2MTFFNEJFNzU4NTEyRDg0REI3RDEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTI4NkExQTMxNjk2MTFFNEJFNzU4NTEyRDg0REI3RDEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5Mjg2QTFBMDE2OTYxMUU0QkU3NTg1MTJEODREQjdEMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5Mjg2QTFBMTE2OTYxMUU0QkU3NTg1MTJEODREQjdEMSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsexIQcAAAB+SURBVHjaYszLzWNiQADGltYWBR4envlfvnxJrKmueQAU+w+TBClkhNLMtXW1ikCFexkZGW1BNIgPEoepY4IpLCouUhQWFt4NVCgPtgJIg/ggcbgGoDO4bty4ofnv37/7/7EAoPgDkDxIHcOF8xe0//79++A/HgCSB6kDCDAAm0NhJKWw460AAAAASUVORK5CYII=);
}.pAtlTour_bHint__eContent
{width: 360px;margin: 0 auto;padding: 26px 30px;

    border-radius: 3px;background: #fff;box-shadow: 0 5px 8px rgba(110,109,110,.5);
}.pAtlTour_bHint__eContent__mType_narrow
{
    width: 240px;
}.pAtlTour_bHint__eParagraph
{
    margin: 0 0 5px;
}.pAtlTour_bHint__eListContainer:after
{display: table;clear: both;

    content: ' ';
}.pAtlTour_bHint__eList__mType_double
{float: left;

    width: 45%;padding: 0 5% 0 0;
}.pAtlTour_bHint__eList__mType_left
{
    padding: 0 5% 0 0;
}.pAtlTour_bHint__eList__mType_right
{
    padding: 0 0 0 5%;
}.pAtlTour_bHint__eListItem
{position: relative;

    padding: 7px 0 0 18px;
}.pAtlTour_bHint__eListItem:before
{
    position: absolute;left: 0;content: '— ';
}.pAtlTour_bInfo
{
    margin: 0 0 39px;
}.pAtlTour_bInfo__eTitle
{
    font: 700 30px/40px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 0 25px;text-align: center;
}.pAtlTour_bInfo__eColumnContainer
{
    margin: 0 10px 0 40px;
}.pAtlTour_bInfo__eColumnContainer:after
{display: table;clear: both;

    content: ' ';
}.pAtlTour_bInfo__eColumn
{float: left;

    width: 33.33333333%;
}.pAtlTour_bInfo__eColumnTitle
{
    font: 700 18px/20px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 30px 11px 0;
}.pAtlTour_bInfo__eColumnContent
{
    margin: 0 30px 0 0;
}.pAtlTour_bLayout
{
    font: 15px/20px Arial,sans-serif;overflow: hidden;padding: 50px 0 10px;background: #fff;
}.pAtlTour_bLayout__eLink
{cursor: pointer;

    color: #0685b5;
}.pAtlTour_bLayout__eLink:hover
{
    color: #f22;
}.pAtlTour_bLayout__eLink__mType_pseudo
{
    text-decoration: none;border-bottom: 1px dashed #0685b5;
}.pAtlTour_bLayout__eLink__mType_pseudo:hover
{
    border-color: #f22;
}.pAtlTour_bLayout__eTitle
{
    font: 700 40px/45px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 0 15px;text-align: center;
}.pAtlTour_bLayout__eSlogan
{
    font: 18px/20px Arial,sans-serif;text-align: center;
}.pAtlTour_bOpenHint
{
    position: relative;
}.pAtlTour_bOpenHint:hover .pAtlTour_bHint
{
    visibility: visible;-webkit-transition: opacity 200ms ease-in-out;transition: opacity 200ms ease-in-out;opacity: 1;
}.pAtlTour_bPedestal
{
    position: relative;width: 960px;height: 520px;margin: 0 auto 23px;background: no-repeat url('../img/stone.jpg') 0 257px;
}.pAtlTour_bPedestal__eMoney
{
    position: absolute;
}.pAtlTour_bPedestal__eMoney__mPlace_first
{
    top: 255px;left: 372px;
}.pAtlTour_bPedestal__eMoney__mPlace_second
{
    top: 301px;left: -2px;
}.pAtlTour_bPedestal__eMoney__mPlace_third
{
    top: 333px;left: 785px;
}.pAtlTour_bPedestal__ePrize
{
    position: absolute;text-align: center;
}.pAtlTour_bPedestal__ePrize__mPlace_first
{
    top: 369px;left: 389px;
}.pAtlTour_bPedestal__ePrize__mPlace_second
{
    top: 401px;left: 93px;
}.pAtlTour_bPedestal__ePrize__mPlace_third
{
    top: 413px;left: 699px;
}.pAtlTour_bPedestal__ePrizeTitle
{
    font: 700 25px/30px 'PT Sans','Trebuchet MS',Arial,sans-serif;margin: 0 0 5px;
}.pAtlTour_bPedestal__ePrizeText
{
    color: #464646;
}.pAtlTour_bPedestal__eSalamandra
{
    position: absolute;-webkit-transition: all 300ms ease-out;transition: all 300ms ease-out;
}.pAtlTour_bPedestal__eSalamandra__mPlace_first
{top: -10px;
    left: 160px;
}.pAtlTour_bPedestal__eSalamandra__mPlace_second
{top: 122px;
    left: -33px;
}.pAtlTour_bPedestal__eSalamandra__mPlace_third
{top: 119px;
    left: 569px;
}.pAtlTour_bPedestal__eText
{margin: 0 0 54px;

    text-align: center;
}.pAtlTour_bRegister
{
    margin: 0 0 55px;text-align: center;
}.pAtlTour_bRegister__eText
{
    font-size: 13px;line-height: 20px;
}.pAtlTour_bRegister__eButton
{
    margin: 0 0 15px;
}
