@import url('http://fonts.googleapis.com/css?family=Philosopher:400,700&subset=cyrillic,latin');
.pL2Ertheia_bMainContent
{
    font-family: 'Philosopher', sans-serif;

    position: relative;
    left: -7px;

    width: 1200px;
    height: 924px;
    margin: 0 auto;

    -webkit-transition: background-size .6s linear, background-position .6s linear;
            transition: background-size .6s linear, background-position .6s linear;

    background: url('bMainContent/bgShinePlanet.jpg') no-repeat 50% -287px #311214;
    background-size: 1241px 987px;
}
.pL2Ertheia_bMainContent_mHoverEffect
{
    -webkit-transition: background-size 1s linear, background-position 1s linear;
            transition: background-size 1s linear, background-position 1s linear;

    background-position: 50% -387px;
    background-size: 1341px 1087px;
}
.pL2Ertheia_bMainContent__eTopText
{
    position: relative;
    z-index: 100;

    width: 500px;
    margin: 0 auto;
    padding-top: 40px;

    text-align: center;

    color: white;
}
.pL2Ertheia_bMainContent__eTopText h1
{
    font-size: 40px;

    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}
.pL2Ertheia_bMainContent__eTopText p
{
    font-size: 15px;
    line-height: 20px;

    width: 480px;
    margin: 0 auto;
}
.pL2Ertheia_bMainContent__eRightText
{
    font-size: 13px;
    line-height: 15px;

    position: absolute;
    z-index: 100;
    top: 192px;
    right: 24px;

    width: 196px;

    color: #b2c3d1;
}
.pL2Ertheia_bMainContent__eRightText img
{
    margin: 0 0 12px -7px;
}
.pL2Ertheia_bMainContent_eDownloadButton
{
    position: absolute;
    top: 45px;
    right: 68px;

    width: 773px;
    height: 311px;

    background: url('bMainContent/bText.png') no-repeat right top transparent;
}
.pL2Ertheia_bPersonage1
{
    position: absolute;
    top: 86px;
    left: 12px;

    width: 1090px;
    height: 900px;

    -webkit-transition: opacity .3s .1s;
            transition: opacity .3s .1s;

    background: url('bPersonage1/ePersonage1.png') no-repeat center top transparent;
}
.pL2Ertheia_bPersonage1__eHeadPersonage
{
    position: absolute;
    z-index: 102;
    top: 90px;
    left: 459px;

    width: 234px;
    height: 244px;

    background: url('bPersonage1/ePersonage1.png') no-repeat -459px -90px transparent;
}
.pL2Ertheia_bPersonage1__eHeadHair
{
    position: absolute;
    z-index: 103;
    top: 236px;
    left: 639px;

    width: 36px;
    height: 59px;

    background: url('bPersonage1/hair.png');
}
.pL2Ertheia_bPersonage1__eEars
{
    position: absolute;
    z-index: 102;

    background: url('bPersonage1/eEarsPers1.png') no-repeat transparent;
}
.pL2Ertheia_bPersonage1__eEars_mEarLeft
{
    top: 172px;
    left: 439px;

    width: 94px;
    height: 85px;
}
.pL2Ertheia_bPersonage1__eEars_mEarRight
{
    top: 238px;
    left: 649px;

    width: 70px;
    height: 62px;

    background-position: -209px -65px;
}
.pL2Ertheia_bPersonage1_mHoverEffect .pL2Ertheia_bPersonage1__eEars_mEarLeft
{
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-animation: eEarLeft__Hover 1.2s;
            animation: eEarLeft__Hover 1.2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.pL2Ertheia_bPersonage1_mHoverEffect .pL2Ertheia_bPersonage1__eEars_mEarRight
{
    -webkit-transform-origin: left center;
            transform-origin: left top;
    -webkit-animation: eEarRight__Hover 1.2s;
            animation: eEarRight__Hover 1.2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.pL2Ertheia_bPersonages_mHoverEffect .pL2Ertheia_bPersonage1
{
    -webkit-transition: opacity .5s linear;
            transition: opacity .5s linear;
    pointer-events: none;

    opacity: 0;
}
@-webkit-keyframes eEarLeft__Hover
{
    0%
    {
        -webkit-transform: rotateZ(0deg) translate(0, 0);
    }
    50%
    {
        -webkit-transform: rotateZ(8deg) translate(2px, 3px);
    }
    100%
    {
        -webkit-transform: rotateZ(0deg) translate(0, 0);
    }
}
@-webkit-keyframes eEarRight__Hover
{
    0%
    {
        -webkit-transform: rotateZ(0deg) translate(0, 0);
    }
    50%
    {
        -webkit-transform: rotateZ(-10deg) translate(0px, 0px);
    }
    100%
    {
        -webkit-transform: rotateZ(0deg) translate(0, 0);
    }
}
@keyframes eEarLeft__Hover
{
    0%
    {
        transform: rotateZ(0deg) translate(0, 0);
    }
    50%
    {
        transform: rotateZ(8deg) translate(2px, 3px);
    }
    100%
    {
        transform: rotateZ(0deg) translate(0, 0);
    }
}
@keyframes eEarRight__Hover
{
    0%
    {
        transform: rotateZ(0deg) translate(0, 0);
    }
    50%
    {
        transform: rotateZ(-10deg) translate(0px, 0px);
    }
    100%
    {
        transform: rotateZ(0deg) translate(0, 0);
    }
}
.pL2Ertheia_bPersonage2
{
    position: absolute;
    top: 179px;
    left: 267px;

    width: 737px;
    height: 900px;

    -webkit-transition: opacity .3s;
            transition: opacity .3s;

    opacity: 0;
    background: url('bPersonage2/ePersonage2.png') no-repeat center top transparent;
}
.pL2Ertheia_bPersonage2__eHeadPersonage
{
    position: absolute;
    z-index: 102;
    top: -10px;
    left: 129px;

    width: 355px;
    height: 299px;

    pointer-events: all;

    background: url('bPersonage2/ePersonage2.png') no-repeat -129px 10px transparent;
}
.pL2Ertheia_bPersonages_mHoverEffect .pL2Ertheia_bPersonage2
{
    -webkit-transition: opacity .3s linear;
            transition: opacity .3s linear;
    pointer-events: none;

    opacity: 1;
}
.pL2Ertheia_bPlanets
{
    position: absolute;
    z-index: 101;
    top: 150px;
    left: 230px;

    display: none;

    width: 680px;
    height: 680px;

    perspective: 2200px;
}
.pL2Ertheia_bPlanets__ePlanet
{
    font-size: 22px;

    position: absolute;
    z-index: 201;
    top: 50%;
    left: 50%;

    display: inline-block;

    cursor: pointer;
    text-align: center;

    color: #fff;
}
.pL2Ertheia_bPlanets__ePlanet:before
{
    position: relative;
    z-index: 2;

    display: block;

    width: 156px;
    height: 156px;
    margin: 0 0 6px 0;

    content: '';

    background: no-repeat transparent;
    background-size: 156px 156px;
}
.pL2Ertheia_bPlanets__ePlanet:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 156px;
    height: 156px;
    margin: 0 0 6px 0;

    content: '';

    background: no-repeat transparent;
    background-size: 156px 156px;
}
.pL2Ertheia_bPlanets__ePlanet:hover
{
    color: #01c4e7;
    text-shadow: 0 1px 4px #000;
}
.pL2Ertheia_bPlanets__ePlanet_mAlchemy:before
{
    background-image: url('bPlanets/ePlanets3.png');
}
.pL2Ertheia_bPlanets__ePlanet_mVideo:before
{
    background-image: url('bPlanets/ePlanets1.png');
}
.pL2Ertheia_bPlanets__ePlanet_mClasses:before
{
    background-image: url('bPlanets/ePlanets2.png');
}
.pL2Ertheia_bPlanets__ePlanet_mLocation:before
{
    background-image: url('bPlanets/ePlanets4.png');
}
.pL2Ertheia_bPlanets_mStart .pL2Ertheia_bPlanets__ePlanet
{
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: orbit 20s linear infinite;
            animation: orbit 20s linear infinite;
    pointer-events: all;

    border-radius: 50px;
}
.pL2Ertheia_bPlanets_mStart .pL2Ertheia_bPlanets__ePlanet_mVideo
{
    -webkit-animation-delay: -5s !important;
            animation-delay: -5s !important;
}
.pL2Ertheia_bPlanets_mStart .pL2Ertheia_bPlanets__ePlanet_mClasses
{
    -webkit-animation-delay: -10s !important;
            animation-delay: -10s !important;
}
.pL2Ertheia_bPlanets_mStart .pL2Ertheia_bPlanets__ePlanet_mLocation
{
    -webkit-animation-delay: -15s !important;
            animation-delay: -15s !important;
}
.pL2Ertheia_bPlanets_mStart :hover .pL2Ertheia_bPlanets__ePlanet
{
    animation-play-state: paused;
}
.pL2Ertheia_bPlanets_mPause .pL2Ertheia_bPlanets__ePlanet_mAlchemy,
.pL2Ertheia_bPlanets_mPause .pL2Ertheia_bPlanets__ePlanet_mVideo,
.pL2Ertheia_bPlanets_mPause .pL2Ertheia_bPlanets__ePlanet_mClasses,
.pL2Ertheia_bPlanets_mPause .pL2Ertheia_bPlanets__ePlanet_mLocation
{
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
}
.pL2Ertheia_bPlanets_mOpened
{
    z-index: 902;

    -webkit-transition: -webkit-transform 1s linear;
            transition:         transform 1s linear;
    -webkit-transform: translate(0, 510px);
            transform: translate(0, 510px);
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet
{
    -webkit-transition: font-size 1s linear, -webkit-transform 1s linear;
            transition: font-size 1s linear, transform 1s linear;
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation
{
    font-size: 15px;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy:before,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses:before,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo:before,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation:before
{
    width: 86px;
    height: 86px;

    content: '';
    -webkit-transition: width 1s linear, height 1s linear, background-size 1s linear;
            transition: width 1s linear, height 1s linear, background-size 1s linear;

    border-radius: 86px;
    background-size: 86px 86px;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy:after,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses:after,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo:after,
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation:after
{
    z-index: 3;

    width: 86px;
    height: 86px;

    content: '';
    -webkit-transition: width 1s linear, height 1s linear, background-size 1s linear;
            transition: width 1s linear, height 1s linear, background-size 1s linear;

    opacity: .5;
    border-radius: 86px;
    background-size: 86px 86px;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses
{
    -webkit-transform: translate(-189px, -340px) !important;
            transform: translate(-189px, -340px) !important;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses:hover:not(.active):before
{
    background-image: url('bPlanets/classes2-hover.gif');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses:hover:not(.active):after
{
    opacity: 0;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mClasses:after
{
    background-image: url('bPlanets/ePlanets2-gray.png');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy
{
    -webkit-transform: translate(-63px, -340px) !important;
            transform: translate(-63px, -340px) !important;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy:hover:not(.active):before
{
    background-image: url('bPlanets/alchemy-hover.gif');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy:hover:not(.active):after
{
    opacity: 0;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mAlchemy:after
{
    background-image: url('bPlanets/ePlanets3-gray.png');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo
{
    -webkit-transform: translate(64px, -340px) !important;
            transform: translate(64px, -340px) !important;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo:hover:not(.active):before
{
    background-image: url('bPlanets/video-hover.png');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo:hover:not(.active):after
{
    opacity: 0;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mVideo:after
{
    background-image: url('bPlanets/ePlanets1-gray2.png');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation
{
    -webkit-transform: translate(189px, -340px) !important;
            transform: translate(189px, -340px) !important;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation:hover:not(.active):before
{
    background-image: url('bPlanets/locations-hover.gif');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation:hover:not(.active):after
{
    opacity: 0;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet_mLocation:after
{
    background-image: url('bPlanets/ePlanets4-gray.png');
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet.active
{
    cursor: default;

    color: #fff;
}
.pL2Ertheia_bPlanets_mOpened .pL2Ertheia_bPlanets__ePlanet.active:after
{
    opacity: 1;
}
@-webkit-keyframes orbit
{
    0%
    {
        -webkit-transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg) rotateZ(0deg) translate(0, 340px) rotateZ(0deg) rotateY(20deg) rotateX(-55deg);
    }
    100%
    {
        -webkit-transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg) rotateZ(-360deg) translate(0, 340px) rotateZ(360deg) rotateY(20deg) rotateX(-55deg);
    }
}
@keyframes orbit
{
    0%
    {
        transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg) rotateZ(0deg) translate(0, 340px) rotateZ(0deg) rotateY(20deg) rotateX(-55deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg) rotateZ(-360deg) translate(0, 340px) rotateZ(360deg) rotateY(20deg) rotateX(-55deg);
    }
}
.pL2Ertheia_bAlchemyAction
{
    position: absolute;
    z-index: 100;
    top: -171px;
    left: -158px;

    width: 1475px;
    height: 1106px;

    -webkit-transition: opacity .6s linear;
            transition: opacity .6s linear;

    opacity: 0;
    background: url('bAlchemyAction/eAlchemy__hover.png') no-repeat transparent;
}
.pL2Ertheia_bAlchemyAction_mStart
{
    -webkit-transition: opacity .6s linear;
            transition: opacity .6s linear;

    opacity: 1;
}
.pL2Ertheia_bAlchemyAction_mStart .pL2Ertheia_bAlchemyAction__eFeathers
{
    -webkit-transition: opacity .5s linear .1s;
            transition: opacity .5s linear .1s;

    opacity: 1;
}
.pL2Ertheia_bAlchemyAction__eFeathers
{
    position: absolute;

    -webkit-transition: opacity .3s linear;
            transition: opacity .3s linear;
    -webkit-transform-origin: center;
            transform-origin: center;

    opacity: 0;
    background: url('bAlchemyAction/eFeathers.png') no-repeat transparent;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_1
{
    top: 484px;
    left: 392px;

    width: 72px;
    height: 58px;

    -webkit-animation: eFeathers1__Move 3s linear infinite;
            animation: eFeathers1__Move 3s linear infinite;

    background-position: -18px -51px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_2
{
    top: 682px;
    left: 570px;

    width: 85px;
    height: 108px;

    -webkit-animation: eFeathers2__Move 1.8s linear infinite;
            animation: eFeathers2__Move 1.8s linear infinite;

    background-position: -216px -19px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_3
{
    top: 383px;
    left: 861px;

    width: 57px;
    height: 55px;

    -webkit-animation: eFeathers3__Move 2s linear infinite;
            animation: eFeathers3__Move 2s linear infinite;

    background-position: -423px 0;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_4
{
    top: 972px;
    left: 945px;

    width: 91px;
    height: 53px;

    -webkit-animation: eFeathers4__Move 2s linear infinite;
            animation: eFeathers4__Move 2s linear infinite;

    background-position: -9px -252px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_5
{
    top: 591px;
    left: 1041px;

    width: 82px;
    height: 57px;

    -webkit-animation: eFeathers5__Move 2.4s linear infinite;
            animation: eFeathers5__Move 2.4s linear infinite;

    background-position: -213px -251px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_6
{
    top: 446px;
    left: 504px;

    width: 102px;
    height: 77px;

    -webkit-animation: eFeathers6__Move 2s linear infinite;
            animation: eFeathers6__Move 2s linear infinite;

    background-position: -2px -440px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_7
{
    top: 693px;
    left: 1025px;

    width: 150px;
    height: 52px;

    -webkit-animation: eFeathers7__Move 2.5s linear infinite;
            animation: eFeathers7__Move 2.5s linear infinite;

    background-position: -369px -458px;
}
.pL2Ertheia_bAlchemyAction__eFeathers_mFeather_8
{
    top: 473px;
    left: 881px;

    width: 77px;
    height: 43px;

    -webkit-animation: eFeathers8__Move 2.6s linear infinite;
            animation: eFeathers8__Move 2.6s linear infinite;

    background-position: -428px -124px;
}
@-webkit-keyframes eFeathers1__Move
{
    0%
    {
        margin: 0;
    }
    25%
    {
        margin: 0 0 10px 10px;
    }
    50%
    {
        margin: 0 0 0 20px;

        -webkit-transform: rotateZ(30deg) rotateX(-30deg);
    }
    75%
    {
        margin: 10px 0 0 5px;
    }
    100%
    {
        margin: 0;
    }
}
@-webkit-keyframes eFeathers2__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 5px;

        -webkit-transform: rotateZ(10deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -6px;

        -webkit-transform: rotateZ(20deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers3__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        -webkit-transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        -webkit-transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers4__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        -webkit-transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        -webkit-transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers5__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        -webkit-transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        -webkit-transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers6__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    25%
    {
        margin: 0 0 5px 5px;

        -webkit-transform: rotateZ(10deg) rotateX(30deg);
    }
    50%
    {
        margin: 0 0 10px 10px;

        -webkit-transform: rotateZ(20deg) rotateX(-30deg);
    }
    75%
    {
        margin: 0 0 5px 5px;

        -webkit-transform: rotateZ(10deg) rotateX(30deg);
    }
    100%
    {
        margin: 0 0 0 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers7__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        -webkit-transform: rotateZ(-14deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        -webkit-transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@-webkit-keyframes eFeathers8__Move
{
    0%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        -webkit-transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        -webkit-transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        -webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers1__Move
{
    0%
    {
        margin: 0;
    }
    25%
    {
        margin: 0 0 10px 10px;
    }
    50%
    {
        margin: 0 0 0 20px;

        transform: rotateZ(30deg) rotateX(-30deg);
    }
    75%
    {
        margin: 10px 0 0 5px;
    }
    100%
    {
        margin: 0;
    }
}
@keyframes eFeathers2__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 5px;

        transform: rotateZ(10deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -6px;

        transform: rotateZ(20deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers3__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers4__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers5__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers6__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    25%
    {
        margin: 0 0 5px 5px;

        transform: rotateZ(10deg) rotateX(30deg);
    }
    50%
    {
        margin: 0 0 10px 10px;

        transform: rotateZ(20deg) rotateX(-30deg);
    }
    75%
    {
        margin: 0 0 5px 5px;

        transform: rotateZ(10deg) rotateX(30deg);
    }
    100%
    {
        margin: 0 0 0 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers7__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        transform: rotateZ(-14deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
@keyframes eFeathers8__Move
{
    0%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
    40%
    {
        margin: -5px 0 0 4px;

        transform: rotateZ(-4deg) rotateY(10deg) rotateX(0deg);
    }
    75%
    {
        margin: -8px 0 0 -3px;

        transform: rotateZ(-2deg) rotateY(5deg) rotateX(0deg);
    }
    100%
    {
        margin: 0;

        transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
.pL2Ertheia_bOverlay
{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .8);
}
.pL2Ertheia_bModalDialog
{
    position: relative;

    width: 736px;
    margin: 0 0 -20px -21px;

    border: 22px solid #001d29;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 150px 0 rgba(255, 255, 255, .45);
            box-shadow: 0 0 150px 0 rgba(255, 255, 255, .45);
}
.pL2Ertheia_bModalDialog__eContainer
{
    position: absolute;
    z-index: 900;
    top: 45%;
    left: 50%;

    display: none;

    width: 736px;
    height: 600px;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.pL2Ertheia_bModalDialog__eGlow
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
}
.pL2Ertheia_bModalDialog__eGlowImage
{
    position: absolute;
    top: -75%;
    left: -50%;

    width: 200%;
    height: 220%;

    pointer-events: none;

    border: 0;
    outline: none;
    background: 0 0;
}
.pL2Ertheia_bModalDialog__eCloseBtn
{
    position: absolute;
    top: -36px;
    right: -37px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    background: url('bModalDialog/close.png');
}
.pL2Ertheia_bModalDialog__eCloseBtn:hover
{
    background-position: top right;
}
.pL2Ertheia_bModalDialog__eContent
{
    position: relative;
    z-index: 999;

    width: 100%;
    min-height: 360px;

    color: #fff;
    background: #012a40;
    background: -ms-linear-gradient(top, #012a40 0%, #014a68 100%);
    background:     linear-gradient(to bottom, #012a40 0%, #014a68 100%);
}
.pL2Ertheia_bModalDialog__eContent > div
{
    display: none;
}
.pL2Ertheia_bModalDialog__eTitle
{
    font-size: 30px;
    font-weight: 700;

    margin: 0;
    padding: 46px 0 40px 0;

    text-align: center;

    color: #fff;
}
.pL2Ertheia_bClassesPopup
{
    height: 412px;
}
.pL2Ertheia_bClassesPopup__eBackground
{
    position: absolute;
    bottom: -2px;
    left: -92px;

    width: 867px;
    height: 304px;

    background: url('bClassesPopup/eClasses.png') no-repeat transparent;
}
.pL2Ertheia_bClassesPopup__eSides
{
    float: left;

    width: 194px;
    margin-top: 4px;
}
.pL2Ertheia_bClassesPopup__eSides h4
{
    font-size: 20px;

    position: relative;

    margin: 0;
    margin-bottom: 13px;
    padding: 0;
}
.pL2Ertheia_bClassesPopup__eSides h4:before
{
    position: absolute;
    top: -7px;
    left: 1px;

    display: inline-block;

    width: 35px;
    height: 34px;

    content: '';

    background: url('bClassesPopup/iClasses.png') no-repeat transparent;
}
.pL2Ertheia_bClassesPopup__eSides p
{
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    margin-bottom: 12px;

    color: #b2c3d1;
}
.pL2Ertheia_bClassesPopup__eSides_mSide_left
{
    margin-left: 237px;
}
.pL2Ertheia_bClassesPopup__eSides_mSide_left h4
{
    padding-left: 49px;
}
.pL2Ertheia_bClassesPopup__eSides_mSide_right
{
    margin-left: 77px;
}
.pL2Ertheia_bClassesPopup__eSides_mSide_right h4
{
    padding-left: 42px;
}
.pL2Ertheia_bClassesPopup__eSides_mSide_right h4:before
{
    left: -4px;

    background-position: -50px 0;
}
.pL2Ertheia_bAlchemyPopup p
{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;

    float: left;

    width: 296px;
    margin: 0 0 20px 75px;

    color: #b2c3d1;
}
.pL2Ertheia_bAlchemyPopup__eDescription
{
    float: left;

    width: 373px;
}
.pL2Ertheia_bMakePotionAlchemy
{
    font-size: 13px;

    position: relative;

    float: left;

    margin: 36px 0 0 86px;

    color: #b2c3d1;
}
.pL2Ertheia_bMakePotionAlchemy__eIcon
{
    position: relative;

    display: inline-block;

    vertical-align: top;

    background: url('bMakePotionAlchemy/bMakePotion.png') no-repeat transparent;
}
.pL2Ertheia_bMakePotionAlchemy__eIcon span
{
    font-family: Arial, sans-serif;
    line-height: 14px;

    position: absolute;
    bottom: -34px;
    left: -15px;

    display: block;

    width: 95px;

    text-align: center;
}
.pL2Ertheia_bMakePotionAlchemy__eHealthPotion
{
    left: 0;

    width: 64px;
    height: 64px;
    margin: 0 17px 0 0;

    -webkit-transition: opacity .2s linear .2s, left .6s linear .2s;
            transition: opacity .2s linear .2s, left .6s linear .2s;

    opacity: 1;
}
.pL2Ertheia_bMakePotionAlchemy__ePlus
{
    width: 38px;
    height: 38px;
    margin: 13px 16px 0 0;

    -webkit-transition: opacity .2s linear .6s;
            transition: opacity .2s linear .6s;

    opacity: 1;
    background-position: -84px -84px;
}
.pL2Ertheia_bMakePotionAlchemy__eWindStone
{
    right: 0;

    width: 64px;
    height: 64px;

    -webkit-transition: opacity .2s linear .2s, right .6s linear .2s;
            transition: opacity .2s linear .2s, right .6s linear .2s;

    opacity: 1;
    background-position: 0 -84px;
}
.pL2Ertheia_bMakePotionAlchemy__eReadyPotion
{
    position: absolute;
    top: 0;
    left: 71px;

    width: 65px;
    height: 65px;

    -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear;

    opacity: 0;
    background-position: -84px 0;
}
.pL2Ertheia_bMakePotionAlchemy__eMouseOver
{
    font-family: Arial, sans-serif;
    font-style: italic;

    position: absolute;
    top: -32px;
    left: 29px;
}
.pL2Ertheia_bMakePotionAlchemy__eMouseOver:before
{
    position: absolute;
    top: 6px;
    right: -35px;

    display: inline-block;

    width: 25px;
    height: 20px;

    content: '';

    background: url('bMakePotionAlchemy/bMakePotion.png') no-repeat transparent -143px -83px;
}
.pL2Ertheia_bMakePotionAlchemy:hover .pL2Ertheia_bMakePotionAlchemy__eHealthPotion
{
    left: 71px;

    -webkit-transition: left .6s linear, opacity .2s .7s linear;
            transition: left .6s linear, opacity .2s .7s linear;

    opacity: 0;
}
.pL2Ertheia_bMakePotionAlchemy:hover .pL2Ertheia_bMakePotionAlchemy__eWindStone
{
    right: 70px;

    -webkit-transition: right .6s linear, opacity .2s .7s linear;
            transition: right .6s linear, opacity .2s .7s linear;

    opacity: 0;
}
.pL2Ertheia_bMakePotionAlchemy:hover .pL2Ertheia_bMakePotionAlchemy__ePlus
{
    -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear;

    opacity: 0;
}
.pL2Ertheia_bMakePotionAlchemy:hover .pL2Ertheia_bMakePotionAlchemy__eReadyPotion
{
    -webkit-transition: opacity .2s .7s linear;
            transition: opacity .2s .7s linear;

    opacity: 1;
}
.pL2Ertheia_bVideoPopup
{
    height: 480px;

    background: #001d29;
}
.pL2Ertheia_bVideoPopup__ePopupBigContainerVideo
{
    overflow: hidden;

    width: 100%;
    height: 414px;
}
.pL2Ertheia_bVideoPopup__ePopupBigContainerVideo iframe
{
    width: 100%;
    height: 100%;
}
.pL2Ertheia_bLocationPopup
{
    height: 480px;

    background: #001d29;
}
.pL2Ertheia_bLocationPopup__ePopupBigContainerPick
{
    overflow: hidden;

    width: 100%;
    height: 414px;
}
.pL2Ertheia_bLocationPopup__eFlashContainer
{
    width: 100%;
    height: 414px;
}
.pL2Ertheia_bLocationPopup__eImage
{
    width: 112px;
}
.pL2Ertheia_bTabFieldPopup
{
    padding-top: 9px;

    text-align: center;
}
.pL2Ertheia_bTabFieldPopup__еImage
{
    width: 110px;
    height: 60px;
    margin-left: 6px;

    cursor: pointer;

    -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
         -o-filter: grayscale(50%);
            filter: grayscale(50%);
}
.pL2Ertheia_bTabFieldPopup__еImage:first-child
{
    margin-left: 0;
}
.pL2Ertheia_bTabFieldPopup__еImage.active
{
            filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}
.pL2Ertheia_bTabFieldPopup__еImage:hover:not(.active)
{
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
            filter: grayscale(0%);
}
