@font-face {
	font-family: "Geogrotesque";
	src: url("/b/pPS2/font/geogrotesque.eot");
	src: local("Geogrotesque"),
	url('/b/pPS2/font/geogrotesque.eot?#iefix') format('embedded-opentype'),
	url('/b/pPS2/font/geogrotesque.woff') format('woff'),
	url('/b/pPS2/font/geogrotesque.ttf') format('truetype');
}
@font-face {
	font-family: "Geogrotesque";
	font-weight: bold;
	src: url("/b/pPS2/font/geogrotesque_bold.eot");
	src: local("Geogrotesque"),
	url('/b/pPS2/font/geogrotesque_bold.eot?#iefix') format('embedded-opentype'),
	url('/b/pPS2/font/geogrotesque_bold.woff') format('woff'),
	url('/b/pPS2/font/geogrotesque_bold.ttf') format('truetype');
}